.head {
    text-align: center;
}


.layout {
    margin: auto;
    border: 3px solid rgb(86, 197, 195);
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    flex-direction: column;

    /* this one adjusts the bordering in the page! */
    height: 100vh; 
}